*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#head{
    height:7rem;
width: 95.04rem;
display:flex;
;
align-items:center ;
background-color:#452829 ;
}
#head1{
    color:thistle;
    font-size: 2.5rem;
    font-weight: 10rem;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1.5rem;

}  
#head2{
    display:flex;
    align-items:center ;
    justify-content: space-evenly;
    margin-left: 50rem;
}
 #brightimg{
    height: 80px;
    width:80px

}
#brightimg:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
#head2 li{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    color: thistle;
    font-size: 1.5rem;
    font-weight: 6rem;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;

}
#head2 li p{
    margin: 1rem;
}
#submain{
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    background-color:#842A3B ;
    height:25rem;
}
 #fh{
    color:thistle;
    font-size: 3.6rem;
    margin-top: 3rem;
    margin-left: 2.8rem;
    font-family: cursive;
}
#f1 p{
    margin-top: 0.5rem;
    margin-left: 2.8rem;
    color: gainsboro;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
#f1 button{
    margin-top: 1.5rem;
    margin-left: 2.8rem;
    height: 3.4rem;
    width: 8.5rem;
    font-size: 1.5rem;
    background-color: #452829;
    color:thistle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 2rem;
    border: 0.1rem solid black;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
}
#f1 button:hover{
    background-color: thistle;
    color:#452829 ;
    font-weight: bold;
}
#mai{
    
    
    
    background-color:#842A3B ;
    height:38rem;
}

#f3 h1{
    color:thistle;
    font-size: 4.6rem;
    font-weight: 5rem;
    margin-left: 36%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#boxs{
    display:flex;
    
    padding:1rem;
    margin-top:2rem;
    justify-content: space-between;
    
    

    
    
    
}
 #sub1{
    margin: 2rem;
    height: 12.8rem;
    width: 21rem;
    background-color:#452829 ;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    

}
 #sub2{
    margin: 2rem;
     height: 12.8rem;
    width: 21rem;
    background-color:#452829 ;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    

}
 #sub3{
    margin: 2rem;
     height: 12.8rem;
    width: 21rem;
    background-color:#452829 ;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    

}
 #sub4{
    margin: 2rem;
    height: 12.8rem;
    width: 21rem;
    background-color:#452829 ;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    

}
 #sub5{
    margin: 2rem;
    height: 12.8rem;
    width: 21rem;
    background-color:#452829 ;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    

}
 #sub6{
    margin: 2rem;
    height: 12.8rem;
    width: 21rem;
    background-color:#452829 ;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem black;
    

}


.comma{
    height:3rem;

    width:4rem;
    

}
.para{
    color: thistle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
}
#ending{
    
    
    
    background-color:#842A3B ;
    height:35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#ending  #end1{
    display:flex;
    flex-direction: column;
}
#ending #end1 h2{
    color:thistle;
    font-size: 2.5rem;
    margin-left: 1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}
.bx{
    margin: 1rem;
    height: 3rem;
    width: 27rem;
    border:none;
    outline: none;
    border-bottom: 0.3rem solid black;
    background-color: transparent;
    
    
}
.bx::placeholder{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blanchedalmond;
}
#submitbtn{
    height: 3rem;
    width: 7.5rem;
    margin-left: 25%;
    font-size: 1.5rem;
    background-color: #452829;
    color:thistle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 2rem;
    border: 0.1rem solid black;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    
}
#submitbtn:hover{
    background-color: thistle;
    color:#452829 ;
    font-weight: bold;
}


